<!DOCTYPE html>
<html lang="en">
<%include ./partials/ngoheader%>
<div class="text-center">
  <img src="home.jpeg" class="rounded" alt="...">
</div>
<div class="jumbotron jumbotron-fluid justify-content-center align-items-center">
  <div class="container">
    <h1 class="display-4 text-center">An award winning web design agency for the NGO sector</h1>
    <p class="lead">Non Government Organisations (NGO’s), charities and third sector organisations play an essential role in both society and the world around us - these are the organisations that help shape a better place for us all to live in.</p>
    <p>How can we help you?</p> 

 <p>   As an agency Liquid Light obviously does commercial work, but we have chosen to specialise in working on NGO website projects, helping them to maximise their online potential. We have a real passion and focus for technology, but working with NGO’s, charities and third sector organisations really ticks all our boxes.
    
        We fundamentally understand that designing websites for NGO’s differs from straightforward commercial projects as NGO websites often have a diverse range of stakeholders ranging from individual beneficiaries to high level government officials who all have very different needs and objectives.
        Designing an NGO website is often far more complex than for example, a simple donation based charity website. Advocacy focused organisations can require a more subtle approach, where taking the time to consider the different stakeholder groups, their needs and how best to engage with each of these is critical to ensuring that your website appropriately engages with your visitors.
        An ongoing challenge for NGO’s is how to use their website to communicate with key stakeholders, disseminating information, research and opinion in a easy to access and intuitive manner. Whilst this content and opinion may come from deep thinkers who are experts in their field, the reality is that their outputs are often difficult for external parties to digest. Liquid Light has many years of experience helping NGO’s to better communicate online, refining website content and messages as well as enhancing this using charts and infographics.
        As an organisation, showing your results & achievements is often key for you and your stake holders, yet not always easy to demonstrate & quantify on your website. We understand that in your field measuring success is not as simple as ‘number of sales’ or ‘number of visitors’ as NGO’s are often characterised by collaborations with others, more abstract statistics, and effects spread over long time scales or large geographic areas, which are not so easy to measure. Years of experience designing websites for NGO’s provides us with the experience required to not only help communicate your effectiveness online, but also to measure your effectiveness.</p>
      </p>
      </div>
</div>
<div class="container justify-content-center align-items-center">
</div>
  
</body>
</html>

