<!DOCTYPE html>
<html>

<% include ./partials/ngoheader%>
    <head>
<body>
    <div class="container" style="background-color:  	#C0C0C0;">
        <div class="page-header">
          <h1>DONATION</h1>      
        </div>  
      </div>
      <div class="container justify-content-center align-items-center">
          <div class="row">
            <div class="col-sm-6" >
      <div class="card mb-3">
          <img class="card-img-top justify-content-center align-items-center" src="1.jpeg" height="300" width="500" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">HEALTH</h5>
            <p class="card-text">Health charities cover everything from supporting and treating the sick and disabled, working on cures for deseases, and promoting public awareness of specific health risks.

                Disease & Disorder Charities
                Medical Services & Treatment
                Medical Research Charities
                Patient and Family Support Charities
            </p>
          </div>
        </div>
            </div>
          </div>
      </div>
      <div class="container justify-content-center align-items-center">
          <div class="row">

            <div class="col-sm-6" >
                <div class="card mb-3">
                    <img class="card-img-top justify-content-center align-items-center" src="donate.jpeg" height="300" width="500" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">EDUCATION</h5>
                      <p class="card-text">Education charities serve students from every age group, pre-school to graduate school and beyond.  Some serve as the educational institutions while focus on making education more accessible and effective.

                          Private Elementary, Jr. High, and High Schools
                          Universities and Colleges
                          Scholarship and financial aid services
                          School Reform and Experimental Education
                          Support for students, teachers, and parents
                      </p>
                    </div>
                  </div>
                      </div>
      
       



          </div>
      </div>
</body>
</html> 
