<!DOCTYPE html>
<html lang="en">

		<head></head>
		<!------ Include the above in your HEAD tag ---------->
</head>
<% include ./partials/ngoheader %>
<style>
body{
    background: #eee;
}
span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}

</style>
 <div class="container"  style="margin: 2%;text-align: center">
	<div class="page-header">
	  <h1>EVENTS</h1>      
	</div>  
  </div>

    <div class="container" style="margin:20%;margin-top: 5%;">
     	<div class="row">

			    <div class="col-lg-10 col-md-10 col-sm-4 col-xs-12 ">



<div class="paragraphs">
		<div class="row">
		  <div class="span4">
				<h3>Blood Donation</h3>
			<img style="float:left" src="/images/blood.jpeg"/>
			<div class="content-heading">
					
					<p>Start date:</p>
					<p>End date:</p>
					<p>Location:</p>
					<p>Donec id verse range of stakeholders ranging from individual beneficiaries to high level government officials who all have very different needs and objectives. Designing an NGO website is often far more complex than for example, a simple donation based charity website. Advocacy focused organisations can require a more subtle approach, where taking the time to consider the different stakeholder groups, their needs and how best to engage with each of these is critical to ensuring that your website appropriately engages wit elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
					  

			</div>
			
		  </div>
		</div>
	  </div>

	  <div class="paragraphs">
			<div class="row">
			  <div class="span4">
					<h3>Tree Plantation</h3>
				<img style="float:left" src="/images/tree.jpeg"/>
				<div class="content-heading">
						
						<p>Start date:</p>
						<p>End date:</p>
						<p>Location:</p>
						<p>Donec id verse range of stakeholders ranging from individual beneficiaries to high level government officials who all have very different needs and objectives. Designing an NGO website is often far more complex than for example, a simple donation based charity website. Advocacy focused organisations can require a more subtle approach, where taking the time to consider the different stakeholder groups, their needs and how best to engage with each of these is critical to ensuring that your website appropriately engages wit elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
						  
	
				</div>
				
			  </div>
			</div>
		  </div>


               
				
		</div>		
	</div>
	</div>
