<!DOCTYPE html>
<html lang="en">


<% include partials/ngoheader%>
  
<div class="container">
<h2> <%= ngo.name%></h2>

<h3>Owner: <%= ngo.owner %> jjj</h3>
<h4>Contact:<%= ngo.contactNo%></h4>
</div>

</body>
</html>

